html {
  font-family: 'Audiowide', cursive;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-image: url("https://thepythonguy3.github.io/Community-Mod-Webpage/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
* {
  box-sizing: border-box; 
}

#slideImg {
  width: 550px;
  vertical-align: middle;
}

.topSlides {
  display: none;
}

.slideshow-container {
  align-content: center;
  max-width: 600px;
  position: relative;
  margin: auto;
}

/*.active {
   background-color: #f7ca6f;
}*/

/*.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #303030;
  border-radius: 50%;
  display: inline-block;
  transition: #f7ca6f 0.8s ease;
}*/

.fade {
  -webkit-animation-name: fade 8s infinite;
  animation-name: fade 8s infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  } 
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0; 
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  } 
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0; 
  }
}


#topHeading {
  color: black;
  padding: 5px 10px 10px 10px;
  font-size: 29px;
  background-color: #f7ca6f;
}

#infoHead {
  text-align: center;
  color: white;
  font-size: 20px;
}

#firstPar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 400px;
  line-height: 1.35;
  margin: 0 auto;
  padding: 5px 15px 15px 15px;
  border-top: 5px solid #f7ca6f;
  font-size: 13px;
}

#firstFoot {
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 4px solid #f7ca6f; 
}
